/* https://www.freecodecamp.org/news/an-animated-guide-to-flexbox-d280cf6afc35/ */

body {
  background-color: #e5e5e5;
  height: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border-style: solid; */
}

.main {
  width: 365px;
  background-color: white;
  padding: 15px;
}

.pin {
  display: flex;
  justify-content: center;
  background-color: #4462ff;
  margin: 7px;
  color: white;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100px;
  align-items: center;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 122px 122px 122px;
}

.grid-item {
  background-color: #4462ff;
  margin: 7px;
  border-style: none;
  border-radius: 12px;
  text-align: center;
  padding: 17px;
  font-size: 35px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: white;
  color: #444bff;
  box-shadow: 0px 3px 3px rgba(#444bff, 0.2);
  transition: all 0.4s ease;
  transition-property: background-color, color;
  /* border-style: solid; */
  /* border-width: 1px; */
}

.grid-item-green {
  background-color: #44ff7c;
  margin: 7px;
  border-style: none;
  border-radius: 12px;
  text-align: center;
  padding: 17px;
  font-size: 35px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.grid-item-red {
  background-color: #ff4444;
  margin: 7px;
  border-style: none;
  border-radius: 12px;
  text-align: center;
  padding: 17px;
  font-size: 35px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
